<template>
  <button @click="handler">Mock Button</button>
</template>

<script setup lang="ts">
let handler = () => {
  console.debug('Clicked inside MockButton.vue');
}

const setHandler = (fn: () => void) => {
  handler = fn;
}
</script>
