<template>
  <div v-if="isOpen" class="popup-window" :style="{ top: position.top + 'px', right: position.right + 'px' }">
    <button @click="togglePopup" class="close-btn">Close</button>
    <p>{{ message }}</p>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';

interface Position {
  top: number;
  right: number;
}

const isOpen = ref(false);
const position: Position = { top: 20, right: 20 };
const message = ref('Default Message');

const togglePopup = () => {
  isOpen.value = !isOpen.value;
};
</script>

<style scoped>
.popup-window {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
}

.close-btn {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
</style>

