<template>
  <button class="session-count-container info muted" @click="resetSessionCount">
    <h2 class="session-count-title">Session Count</h2>
    <h2 class="session-count">{{ sessionCount }}</h2>
  </button>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue';
import { getCookie, setCookie, setDateCookie, removeCookie, getCookieAsDate, getCookieAsNumber, setNumberCookie } from '@/helper/CookieManager';
import { SESSION_COUNT_COOKIES } from '@/constants/CookieNames';

const countCookieName: {[index: string]: any} = {
  total: 'sessionCount',
  morning: 'morningSessionCount',
  afternoon: 'afternoonSessionCount',
  evening: 'eveningSessionCount',
};
const sessionDateCookieName = 'sessionDate';
const today = new Date(); // today's date

const sessionDate = ref(getCookieAsDate(SESSION_COUNT_COOKIES.lastSessionDate));
const sessionCount = ref(getCookieAsNumber(SESSION_COUNT_COOKIES.totalCount));
const morningSessionCount = ref(getCookieAsNumber(SESSION_COUNT_COOKIES.morningCount));
const afternoonSessionCount = ref(getCookieAsNumber(SESSION_COUNT_COOKIES.afternoonCount));
const eveningSessionCount = ref(getCookieAsNumber(SESSION_COUNT_COOKIES.eveningCount));

const incrementSessionCount = () => {
  sessionCount.value++;
  setCookie(countCookieName.total, sessionCount.value);

  // also increment session count for the current part of day
  let cookieName = "";
  let cookieValue = 0;

  if (today.getHours() < 12) {
    cookieValue = ++morningSessionCount.value;
    cookieName = countCookieName.morning;
  }

  if (today.getHours() >= 12 && today.getHours() < 18) {
    cookieValue = ++afternoonSessionCount.value;
    cookieName = countCookieName.afternoon;
  }

  if (today.getHours() >= 18) {
    cookieValue = ++eveningSessionCount.value;
    cookieName = countCookieName.evening;
  }

  setNumberCookie(cookieName, cookieValue);
}

const resetSessionCount = () => {
  if (!confirm("Do you want to reset the session count?")) return;
  sessionCount.value = 0;
  morningSessionCount.value = 0;
  afternoonSessionCount.value = 0;
  eveningSessionCount.value = 0;

  for (const cookieName in countCookieName) {
    removeCookie(countCookieName[cookieName]);
  }
}

const getMorningSessionCount = () => {
  return morningSessionCount.value;
}

const getAfternoonSessionCount = () => {
  return afternoonSessionCount.value;
}

const getEveningSessionCount = () => {
  return eveningSessionCount.value;
}

const getSessionCount = () => {
  return sessionCount.value;
}

onMounted(() => {
  const lastSessionDate = sessionDate.value;
  const check = {
    isFirstSession: getCookie(SESSION_COUNT_COOKIES.lastSessionDate) == undefined,
    isNextYear: today.getFullYear() > lastSessionDate.getFullYear(),
    isNextMonth: today.getMonth() > lastSessionDate.getMonth(),
    isNextDay: today.getDate() > lastSessionDate.getDate(),
  };

  if (check.isFirstSession || check.isNextDay || check.isNextMonth || check.isNextYear) {
    resetSessionCount();
    sessionDate.value = new Date();
    setDateCookie(SESSION_COUNT_COOKIES.lastSessionDate, sessionDate.value);
  }
});

defineExpose({
  incrementSessionCount,
  resetSessionCount,
  getMorningSessionCount,
  getAfternoonSessionCount,
  getEveningSessionCount,
  getSessionCount,
});
</script>

<style scoped lang="scss">
.session-count-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 20px;
  font-size: 0.5rem;
  border: solid 1px var(--color-border-mute);

  &:hover {
    border-color: var(--color-border);
  }
}

.session-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
</style>
