<template>
  <div class="timer-display">
    <p class="time">{{ formattedTime }}</p>
    <h1 class="timer-title info muted">{{ title }}</h1>
  </div>
  <audio ref="audio">
    <source :src="sound" type="audio/mp3">
    Your browser does not support the audio element.
  </audio>
</template>

<script setup lang="ts">
import { ref, computed, watch } from 'vue';
import { lockScreen, unlockScreen } from '@/helper/UseWakeLock';
import { setNumberCookie } from '@/helper/CookieManager';
import { TIMER_COOKIES } from '@/constants/CookieNames';

const isRunning = ref(false);
const timer = ref(0);
const time = ref(0);
const initialTime = ref(0);
const title = ref("");
const emit = defineEmits(['timerEnded']);

const sounds = [
  '/simple-notification-152054.mp3',
  '/ambient-flute-notification-1-185273.mp3',
  '/ambient-flute-notification-2-185274.mp3',
]
const sound = ref(sounds[0]);
const audio = ref(null);

const setSound = (soundId: number) => {
  sound.value = sounds[soundId];
}

const playSound = async () => {
  const audioPlayer = (audio.value as unknown as HTMLAudioElement);
  audioPlayer.src = sound.value;
  audioPlayer.play();
};

// Computed Values
const hours = computed(() => {
  return Math.floor(time.value / 3600);
});
const minutes = computed(() => {
  return Math.floor((time.value % 3600) / 60);
});
const seconds = computed(() => {
  return Math.round(time.value % 60);
});
const formattedTime = computed(() => {
  return `${String(hours.value).padStart(2, '0')}:${String(minutes.value).padStart(2, '0')}:${String(seconds.value).padStart(2, '0')}`;
});

const startTimer = () => {
  lockScreen();
  initialTime.value = time.value;
  setNumberCookie(TIMER_COOKIES.initialTime, initialTime.value);

  if (timer.value === 0) {
    isRunning.value = true;

    // @ts-ignore
    timer.value = setInterval(() => {
      if (time.value >= 1) {
        time.value -= 1;
      } else {
        stopTimer(true);
        emit('timerEnded');
      }
    }, 1000);
  }
}

const pauseTimer = () => {
  unlockScreen();
  isRunning.value = false;
  clearInterval(timer.value);
  console.debug(`timer.value: ${timer.value}`);
  timer.value = 0;
}

const restartTimer = () => {
  unlockScreen();
  time.value = initialTime.value;
}

const stopTimer = (soundOn = false) => {
  unlockScreen();
  pauseTimer();
  restartTimer();
  if (soundOn) playSound();
}

const setTime = (newTime: number) => {
  initialTime.value = newTime;
  time.value = newTime;
}

watch(time, (newTime) => {
  setNumberCookie(TIMER_COOKIES.time, newTime);
});

const setTitle = (newTitle: string) => {
  title.value = newTitle;
}

defineExpose({
  startTimer,
  pauseTimer,
  resetTimer: restartTimer,
  stopTimer,
  setTime,
  setTitle,
  setSound,
  isRunning,
});
</script>

<style scoped>
.timer-display {
  flex: 1;
  max-width: 400px;
  padding: 3rem;
  margin: 0 auto;
}

.time {
  font-size: 2.4rem;
  color: white;
  text-align: center;
}

.timer-title {
  font-size: 1rem;
  text-align: center;
}

#minuteButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.minButton {
  min-width: 50px;
  margin: 0 5px;
  padding: 10px;
  font-weight: bold;
  border: solid 1px white;
  border-radius: 30px;
}

@media screen and (min-width: 1024px) {
  .time {
    font-size: 3.5rem;
  }
}
</style>
