<template>
  <div class="time-input-main">
    <div class="top-section">
      <div id="hours-container" class="time-input-button-container">
        <button class="plus-button" @mousedown="setTimeOnHold(60)" @click="setTime(hours + 1, minutes)">+</button>
        <button class="minus-button" @mousedown="setTimeOnHold(-60)" @click="setTime(hours - 1, minutes)">-</button>
      </div>

      <div class="session-time-input-display">
        <p>{{ formatTime(sessionTimeInSeconds) }}</p>
      </div>

      <div id="minutes-container" class="time-input-button-container">
        <button class="plus-button" @mousedown="setTimeOnHold(1)" @click="setTime(hours, minutes + 1)">+</button>
        <button class="minus-button" @mousedown="setTimeOnHold(-1)" @click="setTime(hours, minutes - 1)">-</button>
      </div>

      <label class="info muted">Hours</label>
      <label class="info muted">Session Time</label>
      <label class="info muted">Minutes</label>
    </div>

    <div id="time-calculation-container">
      <p id="work-info" class="info important"><b>Work - {{ formatTime(workTimeInSeconds, true) }}</b></p>
      <p id="rest-info" class="info"><b>Rest - {{ formatTime(restTimeInSeconds, true) }}</b></p>
      <p id="session-info" class="info">Total Session - {{ formatTime(sessionTimeInSeconds, true) }}</p>
      <label class="time-format-notice info muted">HH:MM:SS</label>
    </div>

    <button class="time-submit-button"
      @click="emit('submit:totalTime', sessionTimeInSeconds, workTimeInSeconds, restTimeInSeconds, workProportion)">Start Session</button>

    <div class="slider-section">
      <div>
        <input type="range" id="slider" v-model="workProportion" :min="0" :max="100" :step="5" /><br>
      </div>

      <div>
        <label class="slider-label left info muted" for="slider">Work: {{ workProportion }}%</label>
        <label class="slider-label right info muted" for="slider">Rest: {{ 100 - workProportion }}%</label>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, computed, onBeforeMount } from 'vue';
import { addCallbackToEvents, disableContextMenu } from '@/helper/EventTools';
import { SESSION_TIME, WORK_PROPORTION } from '@/constants/Defaults';

const props = defineProps({
  initialTime: {
    type: Number,
    default: SESSION_TIME,
  },
  initialProportion: {
    type: Number,
    default: WORK_PROPORTION,
  },
});

const emit = defineEmits(['submit:totalTime']);

// Initial values
const initialHours = computed(() => {
  return Math.floor(props.initialTime / 3600);
});
const initialMinutes = computed(() => {
  return Math.round((props.initialTime % 3600) / 60);
});

// Time values
// TODO: change all below to use only sessionTimeInSeconds
const hours = ref(initialHours.value);
const minutes = ref(initialMinutes.value);
const sessionTimeInSeconds = computed(() => hours.value * 3600 + minutes.value * 60);
const workTimeInSeconds = computed(() => sessionTimeInSeconds.value * (workProportion.value / 100));
const restTimeInSeconds = computed(() => sessionTimeInSeconds.value * (1 - (workProportion.value / 100)));

// Proportion value
const workProportion = ref(props.initialProportion);

const setHours = (value: number) => {
  if (value == 0 || value >= 24) {
    hours.value = 0;
  } else if (value < 0) {
    hours.value = 23;
  } else {
    hours.value = value;
  }
}

const setMinutes = (value: number) => {
  if (value == 0 || value >= 60) {
    minutes.value = 0;
  } else if (value < 0) {
    minutes.value = 59;
  } else {
    minutes.value = value;
  }
}

const setTime = (hoursIn: number, minutesIn: number) => {
  console.debug(`setting hours to ${hoursIn} and minutes to ${minutesIn}`);
  setHours(hoursIn);
  setMinutes(minutesIn);
}

const getTotalTimeInSeconds = () => {
  return sessionTimeInSeconds.value
}

const getTotalWorkTimeInSeconds = () => {
  return workTimeInSeconds.value;
}

const getTotalRestTimeInSeconds = () => {
  return restTimeInSeconds.value;
}

const formatTime = (time: number, includeSeconds = false) => {
  const hours = Math.floor(time / 3600);
  const minutes = Math.floor((time % 3600) / 60);
  const paddedTimeItem = (time: number) => {
    return time < 10 ? `0${time}` : `${time}`;
  }
  if (includeSeconds) {
    const seconds = Math.round(time % 60);
    return paddedTimeItem(hours) + ':' + paddedTimeItem(minutes) + ':' + paddedTimeItem(seconds);
  }
  return paddedTimeItem(hours) + ':' + paddedTimeItem(minutes);
}

const setTimeOnHold = (deltaInMinutes: number) => {
  disableContextMenu();
  const interval = setInterval(() => {
    const addedHours = Math.floor(Math.abs(deltaInMinutes) / 60) * Math.sign(deltaInMinutes);
    const addedMinutes = Math.abs(deltaInMinutes) % 60 * Math.sign(deltaInMinutes);
    setTime(hours.value + addedHours, minutes.value + addedMinutes);
  }, 125);
  const clear = () => {
    clearInterval(interval);
  }
  window.addEventListener('mouseup', clear);
  window.addEventListener('mouseleave', clear);
  window.addEventListener('touchend', clear);
}

const addFunctionToInputButtons = () => {
  const inputButtons = document.querySelectorAll('.time-input-button-container button');
  const events = ['mousedown', 'mouseenter', 'touchstart'];

  inputButtons.forEach((button) => {
    if (button.classList.contains('plus-button')) {
      addCallbackToEvents(button, events, () => {
        setTimeOnHold(1);
      });
    } else if(button.classList.contains('minus-button')) {
      addCallbackToEvents(button, events, () => {
        setTimeOnHold(-1);
      });
    }
  });
}

onBeforeMount(() => {
  addFunctionToInputButtons();
})

defineExpose({
  getTotalTimeInSeconds,
  getTotalWorkTimeInSeconds,
  getTotalRestTimeInSeconds,
});
</script>

<style scoped>
.time-input-main {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}

.top-section {
  width: 100%;
  max-width: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  margin: 0;
}

.top-section label {
  display: block;
  padding-top: 0.25rem;
  text-align: center;
  font-size: 0.75rem;
}

.session-time-input-display {
  flex-basis: 1;
  align-self: flex-start;
  margin: 0;
}

.session-time-input-display p {
  height: 120px;
  line-height: 120px;
  font-size: 3.2rem;
  text-align: center;
}

.time-input-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
}

.time-input-button-container button {
  font-size: 1rem;
  width: 70px;
  height: 60px;
  line-height: 40px;
  padding: 0;
  border: none;
}

.plus-button {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.minus-button {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.time-input-label {
  font-size: 0.75rem;
  margin: 0;
}

#time-calculation-container {
  flex: 1 0 1;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}

#time-calculation-container p {
  height: 1.8rem;
  line-height: 1.8rem;
  border-radius: 5px;
  text-align: center;
}

p#session-info {
  flex-basis: 100%;
}

p#work-info,
p#rest-info {
  flex-basis: 49%;
  margin-top: 5px;
}

.time-format-notice {
  flex-basis: 100%;
  text-align: center;
  font-size: 0.5rem;
}

.slider-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#slider {
  width: 100%;
  height: 2px;
}

.slider-label {
  display: inline-block;
  width: 50%;
  font-size: 0.65rem;
}

.slider-label.left {
  text-align: left;
}

.slider-label.right {
  text-align: right;
}

.time-submit-button {
  width: 150px;
  height: 150px;
  margin-top: 1rem;
  border-radius: 50%;
  font-size: 1rem;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
#slider::-webkit-slider-runnable-track {
  background: var(--color-border);
  height: 2px;
}

/******** Firefox ********/
#slider::-moz-range-track {
  background: var(--color-border);
  height: 2px;
}

@media (max-height: 400px) {
  .slider-section {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .slider-section {
    width: 70%;
  }

  .top-section {
    max-width: 600px;
  }

  .time-submit-button {
    width: 250px;
    height: 250px;
    font-size: 1.2rem;
  }

  .time-input-button-container button {
    width: 100px;
    height: 80px;
  }

  .slider-label {
    font-size: 1rem;
  }

  #time-calculation-container p {
    font-size: 1.1rem;
  }

  .session-time-input-display p {
    height: 120px;
    line-height: 120px;
    font-size: 4.5rem;
  }
}

</style>

