:root {
  --work-orange: #df7704;
  --rest-blue: #0079ff;
  --navy: #023369;
  --turquoise: #00c4b3;
  --slateblack: #1c1c1f;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--rest-blue);
  --color-background-soft: var(--turquoise);

  --color-border: var(--turquoise);
  --color-border-mute: var(--turquoise);
  --color-border-hover: white;
  --color-border-hover-mute: var(--rest-blue);

  --color-heading: white;
  --color-text: white;
  --color-text-muted: var(--turquoise);
  --color-text-important: white;

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--slateblack);
    --color-background-soft: var(--navy);

    --color-border: var(--rest-blue);
    --color-border-mute: var(--navy);
    --color-border-hover: var(--turquoise);
    --color-border-hover-mute: var(--navy);

    --color-heading: var(--rest-blue);
    --color-text: white;
    --color-text-muted: var(--turquoise);
    --color-text-important: var(--rest-blue);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}


body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  background-image: linear-gradient(
    var(--color-background),
    rgba(0, 0, 0, 0.85)
  ), url('/easeout.png');
  background-size: cover;
  background-position: center;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'Titillium Web',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family:
    'Titillium Web',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}
