@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
}

b {
  font-weight: bold;
}

button {
  background-color: var(--color-background-soft);
  color: var(--color-text);
  border: solid 2px var(--color-border);
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  border-color: var(--color-border-hover);
}

button.mute {
  background-color: transparent;
  color: var(--color-text-muted);
  border-color: var(--color-border-mute);
}

button.mute:hover {
  cursor: pointer;
  color: var(--color-text);
}

.info {
  border: none;
  background-color: transparent;
  color: var(--color-text);
}

.info.important {
  border: none;
  background-color: transparent;
  color: var(--color-text-important);
}

.info.muted {
  border: none;
  background-color: transparent;
  color: var(--color-text-muted);
}
