<template>
  <div class="main-container">

    <div id="time-input-box" class="screen" :class="{ off: sessionConfigured }" >
      <div class="configure-button">
        <button class="mute" @click="cancelReconfigure" v-show="initialConfigurationSet">Cancel</button>
      </div>
      <TimeInput :initial-time="totalTime" :initial-proportion="workProportion" @submit:total-time="submitConfiguration" ref="timeInput" />
    </div>

    <div id="timer-box" class="screen" :class="{ off: !sessionConfigured }">
      <div class="configure-button">
        <button class="mute" @click="goBackToConfig">Configure Session</button>
      </div>
      <div id="time-display-container">
        <div>
          <TimerDisplay @timer-ended="handleTimerSwitch" ref="mainTimer" />
        </div>
      </div>
      <div id="session-counter-container">
        <SessionCounter ref="sessionCounter" />
      </div>
      <div id="timer-buttons-container">
        <button @click="handleTimerSwitch()">{{ switchBtnText }}</button>
        <button @click="toggleTimer()">{{ startBtnText }}</button>
      </div>
    </div>

  </div>
</template>

<script setup lang="ts">
import { onMounted, ref, computed } from 'vue';
import TimerDisplay from "./components/TimerDisplay.vue";
import TimeInput from "./components/TimeInput.vue";
import SessionCounter from "./components/SessionCounter.vue";
import { lockScreen, unlockScreen } from '@/helper/UseWakeLock';
import { setCookie, setBooleanCookie, setNumberCookie, getCookieAsNumber, getCookie, getBooleanCookie } from '@/helper/CookieManager';
import { TIMER_COOKIES, SESSION_CONFIG_COOKIES } from './constants/CookieNames'; 
import { SESSION_TIME, WORK_PROPORTION } from './constants/Defaults';
import { WORK_TITLE, REST_TITLE } from './constants/Titles';

const mainTimer = ref(null);
const timeInput = ref(null);
const sessionCounter = ref(null);

const currentTitle = ref(WORK_TITLE);
const totalTime = ref(getCookieAsNumber(SESSION_CONFIG_COOKIES.sessionTime) || SESSION_TIME);
const workProportion = ref(getCookieAsNumber(SESSION_CONFIG_COOKIES.workProportion) || WORK_PROPORTION);
const isRunning = ref(false);
const sessionConfigured = ref(false);
const initialConfigurationSet = ref(false);

// timer values
const workTimeInSeconds = ref(0);
const restTimeInSeconds = ref(0);

const startBtnText = computed(() => {
  if (isRunning.value) {
    return "Pause";
  } else {
    return "Start";
  }
});
const switchBtnText = computed(() => {
  if (currentTitle.value == WORK_TITLE) {
    return isRunning.value ? "Skip Work" : REST_TITLE;
  } else {
    return isRunning.value ? "Skip Rest" : WORK_TITLE;
  }
});

const updateTimerValues = (newTitle: string, newTime: number) => {
  const timer = (mainTimer.value as unknown as typeof TimerDisplay);
  timer.setTitle(newTitle);
  timer.setTime(newTime);
  setCookie(TIMER_COOKIES.title, newTitle);
  setNumberCookie(TIMER_COOKIES.time, newTime);
}

const pauseTimer = () => {
  isRunning.value = false;
  (mainTimer.value as unknown as typeof TimerDisplay).pauseTimer();
}

const resumeTimer = () => {
  isRunning.value = true;
  (mainTimer.value as unknown as typeof TimerDisplay).startTimer();
}

const stopTimer = () => {
  isRunning.value = false;
  (mainTimer.value as unknown as typeof TimerDisplay).stopTimer();
}

// toggles between running or paused
const toggleTimer = () => {
  if (isRunning.value) {
    pauseTimer();
  } else {
    resumeTimer();
  }
}

const handleTimerSwitch = () => {
  let newTime = 0;
  let newSound = 0;

  stopTimer();

  if (currentTitle.value == "Work") { // work timer is up
    currentTitle.value = "Rest";
    (sessionCounter.value as unknown as typeof SessionCounter).incrementSessionCount();
    newTime = restTimeInSeconds.value;
    newSound = 2;
  } else { // rest timer is up
    currentTitle.value = "Work";
    newTime = workTimeInSeconds.value;
    newSound = 1;
  }

  (mainTimer.value as unknown as typeof TimerDisplay).setSound(newSound);
  updateTimerValues(currentTitle.value, newTime);
}

const setConfigurationCookies = () => {
  setBooleanCookie(SESSION_CONFIG_COOKIES.isConfigured, true);
  setNumberCookie(SESSION_CONFIG_COOKIES.sessionTime, totalTime.value);
  setNumberCookie(SESSION_CONFIG_COOKIES.workProportion, workProportion.value);
  setCookie(TIMER_COOKIES.title, currentTitle.value);
}

const submitConfiguration = (sessionTime: number, workTime: number, restTime: number, workProportionInput: number) => {
  lockScreen();
  totalTime.value = sessionTime;
  workProportion.value = workProportionInput;
  workTimeInSeconds.value = workTime;
  restTimeInSeconds.value = restTime;
  sessionConfigured.value = true;
  currentTitle.value = WORK_TITLE; // always set to Work when reconfiguring
  setConfigurationCookies();

  updateTimerValues(currentTitle.value, workTimeInSeconds.value);
  toggleTimer(); // start timer when submitting configuration
}

const goBackToConfig = () => { // called in Timer screen
  unlockScreen();
  pauseTimer();
  sessionConfigured.value = false; // hide the timer
}

const cancelReconfigure = () => {
  sessionConfigured.value = true;
}

onMounted(() => {
  const timeInputComponent = (timeInput.value as unknown as typeof TimeInput);
  const timerDisplayComponent = (mainTimer.value as unknown as typeof TimerDisplay);
  let currentTime = 0;

  initialConfigurationSet.value = getBooleanCookie(SESSION_CONFIG_COOKIES.isConfigured);
  workTimeInSeconds.value = timeInputComponent.getTotalWorkTimeInSeconds();
  restTimeInSeconds.value = timeInputComponent.getTotalRestTimeInSeconds();

  if (initialConfigurationSet.value) { // if session was previously configured
    sessionConfigured.value = true;
    currentTitle.value = getCookie(TIMER_COOKIES.title);
    currentTime = getCookieAsNumber(TIMER_COOKIES.time);
  } else {
    currentTitle.value = WORK_TITLE;
    currentTime = workTimeInSeconds.value;
  }

  timerDisplayComponent.setTitle(currentTitle.value);
  timerDisplayComponent.setTime(currentTime);
});

</script>

<style scoped lang="scss">

$transition-time: 0.5s;

.screen {
  transition-property: opacity, display;
  transition-duration: 0.5s;
  display: block;
  opacity: 1;
  @starting-style {
    opacity: 0;
  }

  &.off {
    opacity: 0;
    display: none !important;
  }
}

.main-container {
  height: 100vh;
}

.configure-button {
  width: 100%;
  display: flex;
  padding: 0.5rem 0;
  justify-content: flex-end;
}

#time-input-box {
  width: 90%;
  height: 90%;
  margin: 0 auto;
}

.main-container button.mute {
  width: 100%;
  border-radius: 10px;
  padding: 0.5rem 0;
}

#timer-box {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
}

#time-display-container {
  flex-basis: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#timer-buttons-container {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  column-gap: 2.5rem;
  margin-bottom: 0;
  padding: 1.5rem 0;
}

#timer-buttons-container button {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  font-size: 0.75rem;
}

@media screen and (min-width: 1024px) {
  #timer-buttons-container button {
    width: 200px;
    height: 200px;
    font-size: 1.2rem;
  }
}
</style>
